{% load static %}
<div class="haedrian-footer ng-scope" ng-include="'views/subviews/footer.html'">
    <footer ng-controller="FooterCtrl" class="footer ng-scope">
        <div class="container">
            <div class="row footer-link-section">
                <div class="col-xs-3 col-md-offset-2 col-md-2">
                    <a href="https://twitter.com/haedrianlabs" target="_blank">
                        <img class="img-responsive link-img-left" src="{% static "images/icons/twitter_default.svg" %}">
                    </a>
                </div>
                <div class="col-xs-3 col-md-2">
                    <a href="https://www.youtube.com/channel/UCmx6vEqqEbj_4ICZECee0EQ" target="_blank">
                        <img class="img-responsive link-img-left" src="{% static "images/icons/youtube_default.svg" %}">
                    </a>
                </div>
                <div class="col-xs-3 col-md-2">
                     <a href="https://plus.google.com/communities/113689146496667325857">
                        <img class="img-responsive" src="{% static "images/icons/google_default.svg" %}">
                    </a>
                </div>
                <div class="col-xs-3 col-md-2">
                    <a href="mailto:austin@haedrian.io?">
                        <img class="img-responsive" src="{% static "images/icons/contact_default.svg" %}">
                    </a>
                </div>
            </div>
            <div class="row footer-section">
                <div class="col-xs-12" ng-class="{'footer-link-underline': touchScreen}">
{#                    <a id="haedrian-footer-link-support-page" href="#!/support#contact">Support</a>&nbsp;|&nbsp;#}
{#                    <a id="haedrian-footer-link-terms-and-conditions" href="#!/legal/terms-and-conditions" target="_blank">Terms of Use</a>&nbsp;|&nbsp;#}
{#                    <a id="haedrian-footer-link-legal-notices" href="#!/legal/legal-notices" target="_blank">Legal Notices</a>&nbsp;|&nbsp;#}
{#                    <a id="haedrian-footer-link-genymobile" href="http://www.genymobile.com" target="_blank">Curo by Haedrian Labs</a> &nbsp;|&nbsp;#}
                    <span>Android is a trademark of Google Inc.</span>&nbsp;|&nbsp; <span>© Haedrian Labs 2016. All rights reserved.</span>
                </div>
            </div>
        </div>
    </footer>
</div>

