{#{% load staticfiles %}#}
{# WARNING #}
{# THIS FILE ISN'T USED ANYMORE #}
{# but I want to get it in use again someday :( #}
{##}
{#		<header class="nav-header fixed clearfix navbar navbar-fixed-top">#}
{#			<div class="container">#}
{#				<div class="row">#}
{#					<div class="col-md-4">#}
{#					<link rel="shortcut icon" href="http://sstatic.net/stackoverflow/img/favicon.ico">#}
{##}
{#						<!-- header-left start -->#}
{#						<!-- ================ -->#}
{#						<div class="header-left clearfix">#}
{##}
{#							<!-- logo -->#}
{#							<div class="logo smooth-scroll">#}
{##}
{#								<!-- <a href="#footer"><img id="logoApple" src="{% static "images/appleDroid4.png" %}" alt="Apple"></a> -->#}
{#							<!--	<a href="#banner"><img id="logo" src="{% static "images/client-6.png" %}" alt="Haedrian"></a> -->#}
{##}
{#							</div>#}
{##}
{#							<!-- name-and-slogan -->#}
{#							<div class="site-name-and-slogan smooth-scroll">#}
{#								<div class="site-name"><a href="#banner">Haedrian Labs</a></div>#}
{#								<div class="site-slogan">Empower the next 3 billion</div>#}
{#							</div>#}
{##}
{#						</div>#}
{#						<!-- header-left end -->#}
{##}
{#					</div>#}
{#					<div class="col-md-8">#}
{##}
{#						<!-- header-right start -->#}
{#						<!-- ================ -->#}
{#						<div class="header-right clearfix">#}
{##}
{#							<!-- main-navigation start -->#}
{#							<!-- ================ -->#}
{#							<div class="main-navigation animated">#}
{##}
{#								<!-- navbar start -->#}
{#								<!-- ================ -->#}
{#								<nav class="navbar navbar-default" role="navigation">#}
{#									<div class="container-fluid">#}
{##}
{#										<!-- Toggle get grouped for better mobile display -->#}
{#										<div class="navbar-header">#}
{#											<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">#}
{#												<span class="sr-only">Toggle navigation</span>#}
{#												<span class="icon-bar"></span>#}
{#												<span class="icon-bar"></span>#}
{#												<span class="icon-bar"></span>#}
{#											</button>#}
{#										</div>#}
{##}
{#										<!-- Collect the nav links, forms, and other content for toggling -->#}
{#										<div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">#}
{#											<ul class="nav navbar-nav navbar-right">#}
{##}
{#                                                {% block menu_item %}#}
{#												<li class="active"><a href="{% url "haedrian:index" %}#banner">Home</a></li>#}
{#												<li><a href="{% url "haedrian:index" %}#about">About</a></li>#}
{#												<li><a href="{% url "haedrian:index" %}#services">Services</a></li>#}
{#												<li><a href="{% url "haedrian:index" %}#portfolio">Exchanges</a></li>#}
{#												<li><a href="{% url "haedrian:index" %}#beta">Reviews</a></li>#}
{#												<li><a href="{% url "haedrian:index" %}#footer">Sign Up</a></li>#}
{#                                                {% if user.is_authenticated %}#}
{#												<li><a href="{% url "logout" %}#">Log Out</a></li>#}
{#												<li><a href="{% url "dashboard:index" %}">Dashboard</a></li>#}
{#                                                {% else %}#}
{#												<li><a href="{% url "login" %}">Log In</a></li>#}
{#                                                {% endif %}#}
{#                                                {% endblock %}#}
{#											</ul>#}
{#										</div>#}
{##}
{#									</div>#}
{#								</nav>#}
{#								<!-- navbar end -->#}
{##}
{#							</div>#}
{#							<!-- main-navigation end -->#}
{##}
{#						</div>#}
{#						<!-- header-right end -->#}
{##}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</header>#}
