{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="haedrian-content ng-scope" ng-view="">
    <div class="haedrian-home-page ng-scope">
        <div class="haedrian-background haedrian-home-head-tmp">
            <div class="container haedrian-home-container">
                <div class="haedrian-cloud-bottom-top"></div>
                <div class="row haedrian-home-row">
                    <div class="col-sm-push-6 col-sm-6 haedrian-home-head-right">
                        <h1 class="haedrian-h1">A <b>better</b> mobile wallet</h1>
                        <p>Curo is the next generation of banking for Microfinance Institutions in developing nations, already trusted by 20,000 people. Now even easier to use with lots more features.</p>
                        
                        <span class="link"><a id="haedrian-get-btn-2" class="btn btn-white-haedrian" href="mailto:austin@haedrian.io" >Contact Us</a></span>
                    </div>
                    <div class="col-sm-pull-6 col-sm-6 haedrian-video-container haedrian-home-head-left">
                        <div class="video-wrapper">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/VJT0w7L4_Sg" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="row visible-xs haedrian-responsive-bottom">
                    <div class="col-xs-12 haedrian-video-container">
                        <img class="img-responsive" src="" alt="">
                        <a rel="lightbox" class="haedrian-video-play ng-scope" bs-modal="" data-animation="am-fade-and-scale" data-placement="center" data-template-url="views/subviews/modal-home-video.html"></a>
                        <div class="haedrian-cloud-bottom-left"></div>
                        <div class="haedrian-cloud-bottom-right"></div>
                    </div>
                </div>
            </div>
            <div class="haedrian-cloud-bottom-left"></div>
            <div class="haedrian-cloud-bottom-right"></div>
        </div>
        <div class="container haedrian-content-news">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="haedrian-subtitle">Curo is a secure, fast and easy-to-use mobile wallet for Microfinance Institutions</p>
                    <p>Perfect to issue and repay microloans in your local currency with a text or android phone</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row haedrian-laptop-show">
                <div class="col-xs-10 col-sm-8 col-sm-offset-2 right-side">
                    <ul class="haedrian-circle-list">
                        <li class="haedrian-circle-item">
                            <h3 class="haedrian-h3">Secure</h3>
                            <p>Multi-signature, multi-factor authentication, and real-time monitoring of wallets. You'll have the most secure app around without needing to know a thing about the latest security features.</p>
                        </li>
                        <li class="haedrian-circle-item">
                            <h3 class="haedrian-h3">Simple</h3>
                            <p>Easy to load wallet balance, easy to send. Using our network of exchange points to deposit and withdraw cash means no bank account is ever required.</p>
                        </li>
                        <li class="haedrian-circle-item">
                            <h3 class="haedrian-h3">Sync</h3>
                            <p>Open API allows it to interface with your loan management software and automatically update loan repayments / disbursements in realtime.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row section-a">
                <div class="col-sm-6 left-side">
                    <h2 class="haedrian-h2 hidden-sm hidden-md hidden-lg">Global wallet</h2>
                    <img class="img-responsive img-section hidden-xs" src="{% static "images/sms.png" %}" alt="Global wallet">
                </div>
                <div class="col-sm-5 right-side">
                    <h2 class="haedrian-h2 hidden-xs">Smart wallet</h2>
                    <div class="text">Curo lets you automatically remind borrowers when a payment is due, and gives borrowers access to
                    see all of their loan info from their phone.</div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
        <div class="container">
            <div class="row hidden-xs haedrian-background">
                <div class="haedrian-separator"></div>
            </div>
        </div>
        <div class="container">
            <div class="row section-b">
                <div class="col-sm-1"></div>
                <div class="col-sm-5 left-side">
                    <h2 class="haedrian-h2">Credit Score</h2>
                    <div class="text hidden-xs">
                         We work with industry leading providers to give you access to credit scores on your borrowers.
                        By combining community-based lending information with social network data, we give you a trustworthiness
                        scoring platform optimized to service emerging markets; specifically, markets where traditional credit scores and collateral
                        frameworks do not exist.
                    </div>
                </div>
                <div class="col-sm-6 right-side">
                    <img class="img-responsive img-seamless" src="{% static "images/credit_score_final.png" %}" alt="Credit Score">
                    <div class="text hidden-sm hidden-md hidden-lg">
                        We work with industry leading providers to give you access to credit scores on your borrowers.
                        By combining community-based lending information with social network data, we use a trustworthiness
                        scoring platform optimized to service emerging markets; specifically, markets where traditional credit scores and collateral
                        frameworks may not exist.</div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row hidden-xs haedrian-background">
                <div class="col-sm-12 haedrian-separator"></div>
            </div>
        </div>
        <div class="container">
            <div class="row section-a">
                <div class="col-sm-6 left-side">
                    <h2 class="haedrian-h2 hidden-sm hidden-md hidden-lg">Seamless deposits & withdraws</h2>
                    <img class="img-responsive img-section hidden-xs" src="{% static "images/site_deposits.png" %}" alt="Seamless deposits & withdraws">
                </div>
                <div class="col-sm-5 right-side">
                    <h2 class="haedrian-h2 hidden-xs">Seamless deposits & withdraws</h2>
                    <div class="text">Borrowers can withdraw loans or deposit repayments into their mobile wallet
                        by utilizing our network of exchange points. Both physical (pawnshops, gas stations etc.) and
                        human (exchange person, like a human ATM).</div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
        <div class="container">
            <div class="row hidden-xs haedrian-background">
                <div class="col-sm-12 haedrian-separator"></div>
            </div>
        </div>
        <div class="container">
            <div class="row section-b">
                <div class="col-sm-1"></div>
                <div class="col-sm-5 left-side">
                    <h2 class="haedrian-h2">Exchange point</h2>
                    <div class="text hidden-xs">Start your own startup and set your own fees. Help other borrowers load
                        money on and off their phones. It's a lot like prepaid airtime sales except it's real money.</div>
                </div>
                <div class="col-sm-6 right-side">
                    <img class="img-responsive img-seamless" src="{% static "images/site_wallet.png" %}" alt="Exchange point">
                    <div class="text hidden-sm hidden-md hidden-lg">Start your own startup and set your own fees. Help other borrowers load
                        money on and off their phones. It's a lot like prepaid airtime sales except it's real money.</div>
                </div>
            </div>
        </div>
       <div class="container">
            <div class="row hidden-xs haedrian-background">
                <div class="col-sm-12 haedrian-separator"></div>
            </div>
        </div>
        <div class="container">
            <div class="row home-info-services">
                <div class="col-sm-push-6 col-sm-6 col-xs-12 professional-services-text">
                    <h5 class="haedrian-h2">Institutional services</h5>
                    <div class="service-description">We offer professional
                        services to help Microfinance Institutions connect with their clients and users.
                        If you have specific needs around the wallet technology, we will be
                        happy to discuss them with you.</div>
                    <div class="contact-us-link"><a id="haedrian-contact-us" class="haedrian-link arrow" href="mailto:austin@haedrian.io">Contact us</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-pull-6 col-sm-6 text">
                    <img class="img-responsive hidden-xs" src="{% static "images/blueGuy.png" %}" alt="Professional services">
                    <img class="img-responsive visible-xs" src="{% static "images/blueGuy.png" %}" alt="Professional services">
                </div>
            </div>
        </div>
        <div class="home-link-bottom haedrian-background">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h5 class="haedrian-h2">Make your life easier</h5>
                        <span class="link"><a id="haedrian-get-btn-2" class="btn btn-white-haedrian" href="mailto:austin@haedrian.io" >Contact Us</a></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
