{% extends "base.html" %}

{% block content %}

    <div id="container">
        <h2>Haedrian Labs Privacy Policy</h2>
        <h4>Effective Date: June 6, 2015. Last updated: June 6, 2015</h4>

        <p>Curo by Haedrian Labs uses the Google Maps API and by so doing, it incorporates by reference the
            <a href="https://www.google.com/policies/privacy" style="color: #0000ff">Google Privacy Policy</a>.
        </p>
    </div>

    <style type="text/css">
        #container {
            position: relative;
            margin-top: 10%;
            margin-left: 10%;
        }
    </style>

{% endblock %}